/* Set a fixed height for the carousel */
.carousel-inner {
    height: 150px; 
    overflow: hidden;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
}
.card-img-top{
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

@media only screen and (min-width: 576px) {
    .carousel-inner {
        height: 200px; 
    }
}

@media only screen and (min-width: 768px) {
    .carousel-inner {
        height: 400px; 
    }
}

@media only screen and (min-width: 992px) {
    .carousel-inner {
        height:500px; 
    }
}

@media only screen and (min-width: 1200px) {
    .carousel-inner {
        height: 550px; 
    }
}
