/* Set a fixed height for the carousel */
.carousel-inner {
    height: 150px; 
    overflow: hidden;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
}
.card-img-top{
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.row{
    align-content: center;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

h2{
    text-align: center;
}

#footer h5{
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2rem;
}

#footer a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#footer li{
    background-color: #900202;
    border: 0cap;
}

@media only screen and (min-width: 576px) {
    .carousel-inner {
        height: 200px; 
    }

    h2{
        text-align: left;
    }
}

@media only screen and (min-width: 768px) {
    .carousel-inner {
        height: 400px; 
    }

}

@media only screen and (min-width: 992px) {
    .carousel-inner {
        height:600px; 
    }

    h3{
        text-align: left;
    }
    
    h4{
        text-align: left;
    }
}

@media only screen and (min-width: 1200px) {
    .carousel-inner {
        height: 700px; 
    }
}
